body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 2rem;
}
